html {
  overflow: hidden;
  background-color: #0c0b1b;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#container {
  height: 100%; 
  position: fixed;
}

#divDropZone {
  height: 100%; 
  position: fixed;
  display:none;
  z-index: 2;
  background-color: #181f87;
  opacity: 0.5;
}

.drop-active {
  background-color: #2671ea !important;
}

@keyframes dropZoneFadeOut {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.track-row {
  box-sizing: border-box;
  height: 40px;
  display:inline-block;
  border-color:#181f87;
  width:100%;
  position:relative;
}

.trackSelected {
  border-color: #2671ea !important;
}

.btnSelected {
  border: 4px solid #2671ea;
  background-color:white;
}

.btn-mix {
  height:100%;
  width:20%;
  z-index:10;
}

.btn-mix-bars {
  height:100%;
  width:25%;
  z-index:10;
}

.btn-mix-scene {
  height:100%;
  width:14.28%;
  z-index:10;
  font-size:14px;
}

.material-icons.i-btn-mix-scene {
  pointer-events:none;
  color: black !important;
}

.material-icons.i-btn-mix-scene.red {
  color: red !important;
}

.track-rowmix {
  position: relative;
  z-index: 2;
  background-color:#0c0b1b;
  height:40px;
  cursor: default;
}

.mixrowTopGap {
  top:7px;
}

.track-rowmix-right{
  position:absolute;
  display:inline-block;
  width:50%;
  height:100%;
  z-index: 10;
}

.track-rowmix-left{
  float:left;
  width:50%;
  height:40px;
  z-index: 10;
}

.lblTrackBar {
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: white;
  opacity: 0.6;
}

.canvasMeterL {
  width:100%;
  height:5px;
  position:relative;
  top:-8px;
}

.canvasMeterR {
  width:100%;
  height:5px;
  position:relative;
  top:-18px;
}

.trackMixSlider { 
  width:100%;
  top:-26px;
  position:relative;
}

.progressLine {
  height:100%;
  background-color: white;
  width:2px;
  left:0;
  top:1px;
  position: absolute;
  z-index: 5;
}

.divBody {
  position: absolute;
}

#gridContainer {
  background-color:#0c0b1b;
  transition: width .2s linear;
}

#gridParent {
  position:fixed;
  z-index:1;
  top:40px;
}

#divGridTimeline {
  width:100%;
  height:14px;
  background-color:#0c0b1b;
  z-index:2;
  overflow: hidden;
  position:relative;
}

/* prevent last # from wrapping */
#divGridTimeline > label:last-child {
  width: auto !important;
}

.lblTimeline {
  float:left;
  font-size: 14px;
  top:1px;
  position:relative;
  color:#2671ea;
  font-weight:bold;
}

#waveform {
  height:calc(100% - 26px); 
  width:100%;
  background-color:#0c0b1b;
}

wave {
 height:100% !important; 
}

.divTransportControls {
  height:40px;
  width:100%;
  display:flex;
  position:relative;
  justify-content:center;
}

.divFooterSettings {
  height:40px;
  /*width:100%;*/
  display:flex;
  position:relative;
}

#btnToggleTempoSlider {
  height: 28px;
  float: right; 
  position: absolute;
  top: 4px;
  right: 6px;
  width: 46px;
  background-color: white !important;
  border-radius: 4px;
}

#tempoSlider {
  top: 6px;
  width: calc(100% - 20px);
  position: absolute;
  margin-left: 8px;
}

#lblTempo {
  color: white;
  position: absolute;
  width: 0px;
  left: 48%;
  bottom: 26px
}

#btnFS {
  background-color:transparent;
  border: 0px none;
  float: left;
}

.btnScene {
  height:100%;
}

#divLoopTile { 
  height:40px;
  background-color: rgba(25, 147, 122, 0.25);
  border-left: 10px solid #19937a;
  border-right: 10px solid #19937a;
  border-top: 4px solid #19937a;
  border-bottom: 4px solid #19937a;
  position: absolute;
  top: 0px;
  box-sizing: border-box;
  /*pointer-events: none;*/
}

#divFooter {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: black;
  z-index:3;
}

.canvasTrack {
  width:100%;
  height:40px;
  border: 1px solid #19937a;
  cursor: grab;
}

.divCanvasWaveformContainer {
  display:none;
}

#divZoom {
  height: 40px;
  width: 80px;
  position: absolute;
  right: 5px;
  top: -44px;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 1;
}

#divToolRowIconsBG {
  position: absolute;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(rgba(12, 11, 27, 0), rgba(12, 11, 27, 1));
  top: -44px;
  pointer-events: none;
}

#divToggleMode {
  position: absolute;
  left: 0;
  top: -42px;
  text-align:center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 1;
}

.btnUIZoom {
  height:40px;
  width:40px;
  margin:0 auto;
  background-color:rgba(0,0,0,0) !important;
  border:none;
}

.btnToolRowIconsLeft {
  height:40px;
  width:40px;
  margin:0 auto;
  background-color:rgba(0,0,0,0) !important;
  border:none;
  float:left;
  position:relative;
}

.editViewIconsBottom {
  bottom:4px;
}

.btnToolRowNav {
  width: 20%;
  height:40px;
}

.btnToolRowNavSelected {
  background-color:white;
  border: 4px solid #2671ea;
}

#divToolRow {
  width:100%;
  background-color:#12121e;
  z-index:2;
  box-sizing: border-box;
  position:relative;
  height:200px;
}

#divToolRowNav {
  z-index:2;
  height:40px;
  position: relative;
}

.divToolRowPanelContainer {
  width:100%;
  height:100%;
}

.divToolRowEditorContainer { 
  width:100%;
  height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
}

#divToolRowContainer {
  position:fixed;
  bottom:40px;
  z-index: 2;
  background-color:#0c0b1b;
}

#divToolRowHandle {
  width:100%;
  height:6px;
  top:-6px;
  position:absolute;
}

#divToolRowHandleThumb {
  width: 50px;
  height: 40px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  bottom: 34px;
  position: relative;
  margin: auto;
}

.divToolRowHandleBG {
  background-color: #19937a;
}

/*
.divToolBrowseBody > ul:first-child > li:first-child > div:first-of-type  {
  display: none !important;
}

.divToolBrowseBody > ul > li > div > ul {
  padding-left: 0px !important;
}

.divToolBrowseBody > ul > li > div > ul ul {
  padding-left: 7px !important;
}
*/

.divToolSongBody > ul > li > div > ul {
  padding-left: 7px !important;
}

.divToolSongBody > ul > li > div > ul ul {
  padding-left: 13px !important;
}

.noUi-connect {
  background-color: #181f87 !important;
}

.noUi-target {
  margin-left: 20px !important;
  margin-right: 50px !important;
}

.noUi-tooltip {
  padding-top: 1px !important;
  padding-right: 5px !important;
  padding-bottom: 1px !important;
  padding-left: 5px !important;
}

.noUi-handle {
  outline: 0 !important;
  cursor: pointer !important;
}

.noUi-marker-large, .noUi-marker-sub { 
  height: 5px !important;
}

.noUi-value-large, .noUi-value-sub { 
  color: #ccc;
  font-size: 12px !important;
}

#samplezoom {
  width:100%;
  height:26px;
  z-index:4;
  background-color:#0c0b1b;
}

#divHeaderTimeline { 
  height:40px;
  width:100%;
}

#divHeaderSettings { 
  height:40px;
  width:100%;
  display:none;
}

#divHeader {
  position: fixed;
  top: 0;
  height: 40px;
  background-color: black;
  z-index:2;
}

#divGridButtonViewBG {
  height:100%;
  width:100%;
  background-color:transparent;
  position:fixed; 
  top:150px; 
  left:0;
}

.divGridButton {
  height:75px;
  width:75px;
  background-color: rgba(0,0,0,0.5);
  float:left;
  border-radius:2px;
  border:1px solid #19937a;
  box-sizing:border-box;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.divGridButton canvas, .divGridButtonSelected canvas {
  z-index:2;
}

.canvasGridButtonInst {
  height: 75px;
  width: 75px;
  position: absolute;
  z-index: -1 !important;
}

.divGridButtonSelected {
  height:75px;
  width:75px;
  background-color: rgba(0,0,0,0.5);
  float:left;
  border-radius:2px;
  border:3px solid #2671ea;
  box-sizing:border-box;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.divGridButtonProgress {
  height:100%;
  background-color:blue;
  position:absolute;
  pointer-events:none;
  left:0;
}

.ulGridButton {
  padding: 0; 
  list-style-type: none;
}

.lblGridButton {
  color: white;
  font-size: 11px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  float: left;
}

#divEditViewBG {
  width:100%;
  background-color:transparent;
  position:fixed; 
  top:150px;
  bottom:80px;
  left:0;
}

.canvasEditViewObj {
  height:100%;
  width:100%;
  background-color:transparent;
  position: absolute;
  z-Index:3;
}

.divEditViewObj {
  min-height:24px;
  min-width:40px;
  height:10%;
  width:7%;
  top:30%;
  left:45%;
  background-color:#0c0b1b;
  position: absolute;
  z-Index:3;
  border: 1px solid #19937a;
}

.divEditViewObjEnabled {
  border: 4px solid #19937a !important;
}

.divEditViewObjHover { 
  border: 4px solid white !important;
}

.divEditViewObjSelected {
  min-height:24px;
  min-width:40px;
  height:10%;
  width:7%;
  top:30%;
  left:45%;
  background-color:#0c0b1b;
  position: absolute;
  z-Index:3;
  border: 2px solid #2671ea;
}

.labelEditViewObj {
  position: absolute;
  color: white;
  font-size: 10px;
  left: 1px;
  overflow: hidden;
}

.btnEditViewDelete {
  position:absolute; 
  top:30%; 
  left:45%; 
  z-index:3; 
  width:26px; 
  height:26px;
  color:red;
  border-radius:13px;
  cursor:pointer;
}

.wavesurfer-handle-start {
  bottom:0 !important;
  height:20px !important;
  width:18px !important;
  max-width:18px !important;
  background-color:#19937a!important;
  top: auto !important;
  left: -18px !important;
}

.wavesurfer-handle-end {
  top: auto !important;
  height:20px !important;
  width:18px !important;
  max-width:18px !important;
  background-color:#19937a !important;
}

.wavesurfer-region {
  background-color: rgba(19,62,131,0.5) !important;
  z-index: 9 !important;
}

.wavesurfer-region-selected {
  background-color: rgba(19,62,255,0.5) !important;
  z-index: 10 !important;
}

.material-icons {
  /* font-size: 36px !important; */
  color:white !important;
  cursor: pointer;
}

.i-hdr {
  font-size: 12px !important;
  color: black !important;
  margin-top: 2px !important;
}

.i-36 {
  font-size: 36px !important;
}

.i-28 {
  font-size: 28px !important;
}

.i-72 {
  font-size: 72px !important;
}

.hidden {
  display:none !important;
}

.colorRed {
  color: red !important;
}

/*   mm quick fix for all */
label {
  color:white;
}

/* remove blue outline on button click */
button:focus {
  outline:0;
}

/* firefox rounds buttons & prevent blue background on mobile touch*/
button {
  border-radius: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

canvas {
  image-rendering: crisp-edges;
  /* image-rendering: pixelated; */
}

img {
  image-rendering: crisp-edges;
  /* image-rendering: pixelated; */
}

.cursorCrosshair { 
  cursor: crosshair;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 997; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(33, 37, 43);
  margin: 2px auto; 
  border: 1px solid #888;
  width: 96%; 
  max-width:500px;
  height:98%;
  z-index:998;
  position:relative;
  cursor:pointer;
}

.modal-title {
  top:10px;
  left:4px;
  position:relative;
  font-weight: bold;
}

/* The Close Button */
.modalClose {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right:10px;
  margin-bottom:4px;
  z-index: 999;
}

.modalClose:hover, .modalClose:focus {
  color: darkred;
  text-decoration: none;
  cursor: pointer;
}

#modalSongList {
  position:absolute;
  width:100%;
  overflow-y:auto;
}

#tableSongs {
  width:100%;
  color:rgb(157, 165, 171);
  border-collapse: collapse;
}

#tableSongs tr { 
  height:32px;
}

#tableSongs td:nth-child(1) {
  padding-left:4px;
}

#tableSongs td:nth-child(2) {
  text-align: right;
  padding-right:4px;
}

#inputSong {
  width:100%;
  height:40px;
  box-sizing:border-box;
  padding-left:4px;
  padding-right:4px;
}

input {
  font-size:22px;
}

/* search iframe container that enables touch scroll on ios safari */
.iframeContainerIOS {
  height:100%;
  width:100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.iframeContainer {
  height:100%;
  width:100%;
}

#sliderToolChorus {
  top: 6px;
  width: calc(100% - 36px);
  margin-left: 18px !important;
}

#sliderToolChorus .noUi-tooltip {
   z-Index:1;
   bottom:3px;
}

.divSynthKey {
  height:100%;
  /*width:8.333%;*/
  box-sizing: border-box;
  border: 1px solid gray;
  display:inline-block;
}

#divEditorHdrSectionContainer {
  position: absolute;
  width: 100%;
  height: 31px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray
}

#imgBGLogo {
  position:absolute;
  width:50%;
  margin:auto;
  top:-65px;
  bottom:40px;
  left:0;
  right:0;
  opacity:0;
  pointer-events: none;
}

.logoFade {
  animation: fadeLogo 6s forwards;
}

@keyframes fadeLogo {
  0% {
    opacity:0
  }
  85% {
    opacity:1
  }
  100% {
    opacity:0.15
  }
}

.divEditorSliderContainer {
  height: 58px;
  margin-top: 22px;
}


/******* new list stuff *********/

.List label {
  color: rgb(157, 165, 171);
  pointer-events: none;
  white-space: nowrap;
}

.lblMain {
  font-size: 12pt;
  width: 100%;
  position: absolute;
  margin-top: 8px;
  margin-left: 4px;
}

.lblArtist {
  margin-top:3px;
  position: absolute;
  font-size: 10pt;
  font-weight: bold;
  margin-left:4px;
}

.lblSong {
  position: absolute;
  font-size: 10pt;
  margin-top: 18px;
  margin-left: 4px;
}

.ListItem{
  color: rgb(157, 165, 171);
  display: flex;
  overflow: hidden;
  touch-action: pan-y;
  cursor: grab;
}

.divBrowseListContainer {
  width:100%;
  height:calc(100% - 40px);
}

.itemSelected {
  background-color: rgb(19, 62, 131);
}

.menuIcon {
  font-size: 14pt !important;
  margin-top:6px;
  margin-left:3px;
  color: lightgray!important;
  pointer-events: none;
}

.menuFade {
  animation: fadeMenu 0.5s forwards;
}

@keyframes fadeMenu {
  0% {
    opacity:1
  }
  35% {
    opacity:0
  }
  65% {
    opacity:0
  }
  100% {
    opacity:1
  }
}

#divSideBarContainer { 
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
}

.divBrowseMainContainer {
  height:100%;
  width:100%;
  background-color:rgb(33, 37, 43);
  border-left:1px solid gray;
  box-sizing:border-box;
}

.divListBrowseHdrContainer {
  height:40px;
  width:100%;
  background-color:rgb(33, 37, 43);
  border-bottom: 1px solid gray;
  box-sizing:border-box;
  position:relative;
  z-index:1;
}

.btnBrowseHdrIcon {
  position:absolute;
  height:40px;
  width:50px;
  color: rgb(157, 165, 171);
  margin-top:2px;
  background-color:transparent;
  border:0;
  font-size: 20pt;
}

.btnBrowseLoad {
  left:0;
  right:0;
  margin:auto;
  top:1px;
  opacity:0.5;
}

.btnBrowseHome {
  right:5%;
  opacity:0.5;
}

.btnBrowseBack {
  left:5%;
  opacity:0.5;
}

.btnBrowseSearch {
  right:5%;
}

@keyframes progressWidth {
  0% {
    width:0%
  }
  100% {
    width:100%
  }
}

.divRowAudioPlaying {
  position: absolute;
  height: 100%;
  background-color:blue;
  pointer-events:none;
}

.divListItemLoadingIcon {
  right:6px;
  top:8px;
  pointer-events:none;
  position:absolute;
  display:none;
}

#divManager {
  position:absolute;
  top:40px; 
  bottom:80px;
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.7);
}

#tableManager {
  width:100%;
  color:white;
  border-collapse: collapse;
  overflow:scroll;
  text-align:center;
}

#tableManager th, td {
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

#tableConnections {
  width:100%;
  color:white;
  border-collapse: collapse;
  overflow:scroll;
}

#tableConnections tr, td {
  height:28px;
}

/***************************/

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
 
 .la-ball-spin-clockwise-fade-rotating,
 .la-ball-spin-clockwise-fade-rotating > div {
     position: relative;
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }
 .la-ball-spin-clockwise-fade-rotating {
     display: block;
     font-size: 0;
     color: #fff;
 }
 .la-ball-spin-clockwise-fade-rotating.la-dark {
     color: #333;
 }
 .la-ball-spin-clockwise-fade-rotating > div {
     display: inline-block;
     float: none;
     background-color: currentColor;
     border: 0 solid currentColor;
 }
 .la-ball-spin-clockwise-fade-rotating {
     width: 32px;
     height: 32px;
     -webkit-animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
        -moz-animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
          -o-animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
             animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
 }
 .la-ball-spin-clockwise-fade-rotating > div {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 8px;
     height: 8px;
     margin-top: -4px;
     margin-left: -4px;
     border-radius: 100%;
     -webkit-animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
        -moz-animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
          -o-animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
             animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
 }
 .la-ball-spin-clockwise-fade-rotating > div:nth-child(1) {
     top: 5%;
     left: 50%;
     -webkit-animation-delay: -.875s;
        -moz-animation-delay: -.875s;
          -o-animation-delay: -.875s;
             animation-delay: -.875s;
 }
 .la-ball-spin-clockwise-fade-rotating > div:nth-child(2) {
     top: 18.1801948466%;
     left: 81.8198051534%;
     -webkit-animation-delay: -.75s;
        -moz-animation-delay: -.75s;
          -o-animation-delay: -.75s;
             animation-delay: -.75s;
 }
 .la-ball-spin-clockwise-fade-rotating > div:nth-child(3) {
     top: 50%;
     left: 95%;
     -webkit-animation-delay: -.625s;
        -moz-animation-delay: -.625s;
          -o-animation-delay: -.625s;
             animation-delay: -.625s;
 }
 .la-ball-spin-clockwise-fade-rotating > div:nth-child(4) {
     top: 81.8198051534%;
     left: 81.8198051534%;
     -webkit-animation-delay: -.5s;
        -moz-animation-delay: -.5s;
          -o-animation-delay: -.5s;
             animation-delay: -.5s;
 }
 .la-ball-spin-clockwise-fade-rotating > div:nth-child(5) {
     top: 94.9999999966%;
     left: 50.0000000005%;
     -webkit-animation-delay: -.375s;
        -moz-animation-delay: -.375s;
          -o-animation-delay: -.375s;
             animation-delay: -.375s;
 }
 .la-ball-spin-clockwise-fade-rotating > div:nth-child(6) {
     top: 81.8198046966%;
     left: 18.1801949248%;
     -webkit-animation-delay: -.25s;
        -moz-animation-delay: -.25s;
          -o-animation-delay: -.25s;
             animation-delay: -.25s;
 }
 .la-ball-spin-clockwise-fade-rotating > div:nth-child(7) {
     top: 49.9999750815%;
     left: 5.0000051215%;
     -webkit-animation-delay: -.125s;
        -moz-animation-delay: -.125s;
          -o-animation-delay: -.125s;
             animation-delay: -.125s;
 }
 .la-ball-spin-clockwise-fade-rotating > div:nth-child(8) {
     top: 18.179464974%;
     left: 18.1803700518%;
     -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
          -o-animation-delay: 0s;
             animation-delay: 0s;
 }
 .la-ball-spin-clockwise-fade-rotating.la-sm {
     width: 16px;
     height: 16px;
 }
 .la-ball-spin-clockwise-fade-rotating.la-sm > div {
     width: 4px;
     height: 4px;
     margin-top: -2px;
     margin-left: -2px;
 }
 .la-ball-spin-clockwise-fade-rotating.la-2x {
     width: 64px;
     height: 64px;
 }
 .la-ball-spin-clockwise-fade-rotating.la-2x > div {
     width: 16px;
     height: 16px;
     margin-top: -8px;
     margin-left: -8px;
 }
 .la-ball-spin-clockwise-fade-rotating.la-3x {
     width: 96px;
     height: 96px;
 }
 .la-ball-spin-clockwise-fade-rotating.la-3x > div {
     width: 24px;
     height: 24px;
     margin-top: -12px;
     margin-left: -12px;
 }
 /*
  * Animations
  */
 @-webkit-keyframes ball-spin-clockwise-fade-rotating-rotate {
     100% {
         -webkit-transform: rotate(-360deg);
                 transform: rotate(-360deg);
     }
 }
 @-moz-keyframes ball-spin-clockwise-fade-rotating-rotate {
     100% {
         -moz-transform: rotate(-360deg);
              transform: rotate(-360deg);
     }
 }
 @-o-keyframes ball-spin-clockwise-fade-rotating-rotate {
     100% {
         -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
     }
 }
 @keyframes ball-spin-clockwise-fade-rotating-rotate {
     100% {
         -webkit-transform: rotate(-360deg);
            -moz-transform: rotate(-360deg);
              -o-transform: rotate(-360deg);
                 transform: rotate(-360deg);
     }
 }
 @-webkit-keyframes ball-spin-clockwise-fade-rotating {
     50% {
         opacity: .25;
         -webkit-transform: scale(.5);
                 transform: scale(.5);
     }
     100% {
         opacity: 1;
         -webkit-transform: scale(1);
                 transform: scale(1);
     }
 }
 @-moz-keyframes ball-spin-clockwise-fade-rotating {
     50% {
         opacity: .25;
         -moz-transform: scale(.5);
              transform: scale(.5);
     }
     100% {
         opacity: 1;
         -moz-transform: scale(1);
              transform: scale(1);
     }
 }
 @-o-keyframes ball-spin-clockwise-fade-rotating {
     50% {
         opacity: .25;
         -o-transform: scale(.5);
            transform: scale(.5);
     }
     100% {
         opacity: 1;
         -o-transform: scale(1);
            transform: scale(1);
     }
 }
 @keyframes ball-spin-clockwise-fade-rotating {
     50% {
         opacity: .25;
         -webkit-transform: scale(.5);
            -moz-transform: scale(.5);
              -o-transform: scale(.5);
                 transform: scale(.5);
     }
     100% {
         opacity: 1;
         -webkit-transform: scale(1);
            -moz-transform: scale(1);
              -o-transform: scale(1);
                 transform: scale(1);
     }
 }
 